<div class="header__menu menu">
    <div class="menu__icon">
        <span></span>
    </div>
    <nav class="menu__body">
        <ul class="menu__list">
            <li>
                <a href="#" class="menu__link open-sub current-link">Item 1</a>
                <span class="menu__arrow"></span>
                <ul class="menu__sub-list ">
                    <li>
                        <a href="#" class="menu__sub-link current-sublink">Sub Item 1</a>
                    </li>
                    <li>
                        <a href="#" class="menu__sub-link">Sub Item 2</a>
                    </li>
                    <li>
                        <a href="#" class="menu__sub-link">Sub Item 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="menu__link">Item 2</a>
            </li>
            <li>
                <a href="#" class="menu__link">Item 3</a>
            </li>
        </ul>
    </nav>
</div>